#{if _logo}
<div class="header logo background">
</div>
<div class="header logo">
    <img class="name" src="@{'/public/images/app_logo.png'}" alt="&{'app.name'}" />
</div>
#{/if}


<div class="header arms background">
</div>
<div class="header arms">
#{if play.mvc.Scope.RenderArgs.current().systhermInstallation}
    #{if play.mvc.Scope.RenderArgs.current().systhermInstallationArms}
    <img id="app_arms" src="@{'/public/images/arms'}/${play.mvc.Scope.RenderArgs.current().systhermInstallationArms}" alt="${play.mvc.Scope.RenderArgs.current().systhermInstallation}" />
    #{/if}
    #{if play.mvc.Scope.RenderArgs.current().systhermInstallationLogo}
    <img id="app_arms" src="@{'/public/images/sources'}/${play.mvc.Scope.RenderArgs.current().systhermInstallationLogo}" alt="${play.mvc.Scope.RenderArgs.current().systhermInstallationTitle}" />
    #{/if}
    #{if play.mvc.Scope.RenderArgs.current().systhermInstallationTitle}
        <h1 id="app_title">${play.mvc.Scope.RenderArgs.current().systhermInstallationTitle}</h1>
    #{/if}
    #{else}
        <h1 id="app_title">${play.mvc.Scope.RenderArgs.current().systhermInstallation}</h1>
    #{/else}
#{/if}
#{else}
    #{if play.mvc.Scope.RenderArgs.current().appOwner}
        #{if play.mvc.Scope.RenderArgs.current().useArms}
        <img id="app_arms" src="@{'/public/images/app_arms.png'}" alt="${play.mvc.Scope.RenderArgs.current().appOwner}" />
        #{/if}
        <h1 id="app_title">${play.mvc.Scope.RenderArgs.current().appOwner}</h1>
    #{/if}
    #{else}
      <h1 id="app_title">&{"app.owner"}</h1>
    #{/else}
#{/else}
</div>
