<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/layout-default-latest.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/bootstrap.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/font-awesome.css'}" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/font-awesome-ie7.css'}" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/less/ApplicationLayout.less'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/less/map.less'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/less/layers.less'}" />
#{get 'moreStyles' /}
