#app_page {
  padding: 0;

  .logo {
    img {
      height: 50px;
    }
    padding: 5px 20px;
  }

  img.arms, img.layer-logo {
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
    *width: 24px;
    *height: 24px;
  }

  .icon-white {
    color: white;
  }
}

#app_content {
  padding: 0;
  overflow: hidden;
}

#wmsQueryResult {
  font-style: italic;

  table {
    font-style: normal;
  }
}
